/* color scheme: https://coolors.co/ba1200-031927-9dd1f1-508aa8-c8e0f4 */

.body, html{
	font-family: 'Raleway', serif;
	color: #031927;
}

.bg-video-container {
	margin: 0;
	padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.bg-video-container video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	z-index: 0;
}

.bg-video-container .bg-video-caption {
	z-index: 1;
	color: #031927;
	padding: 10px;
	position: absolute;
	top: 50%;
	margin: 0 auto;
	text-align: center;
	width: 100vw;
	animation: float 6s ease-in-out infinite;
}

.bg-video-caption h2{
	font-size: 42px;
	font-weight: bold;
}

.bg-video-caption button, .bg-video-caption button:active{
	background: #9DD1F1;
	border-color: #9DD1F1;
	color: #031927;
}

.bg-video-caption button:hover{
	background: #C8E0F4;
	border-color: #C8E0F4;
}

@keyframes float {
	0% {
		transform: translatey(-45%);
	}
	50% {
		transform: translatey(-55%);
	}
	100% {
		transform: translatey(-45%);
	}
}

ol {
    list-style-type: decimal;
}

ol > li > ol {
    list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
    list-style-type: upper-roman;
}

a{
	text-decoration: none;

}

.table-of-contents,
.contact-container,
.about-container{
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.w100{
	width: 100%;
}

.parallax-block-1{
	background-image: url("../images/gym-arms-crossed.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}

.rounded-profile{
	width: 150px;
	border-radius: 150px;
}

.contact-line b{
	width: 150px;
	font-weight: bold;
	display: inline-block;
}

.contact-header-line{
	display: block;
	font-size: .9em;
}

@media screen and (max-width: 440px) {
	.contact-line b {
		display: block;
		margin-top: 4px;
	}
}

.parallax-block-2{
	background-image: url("../images/bike.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}

.parallax-block-3{
	background-image: url("../images/motorcycle-pose.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	background-position: center;
}

.portfolio-thumb{
	background-repeat: no-repeat;
	width: 100%;
	margin:0;
	padding: 0;
	border: 0;
	height: 175px;
	background-size: contain;
	background-position: center;
}

.portfoliocard p{
	height: 72px;
}

.portfolio-thumb.jsql{
	background-image: url("../images/jsql-logo.png");
}

.portfolio-thumb.browser-mirror{
	background-image: url("../images/browser-mirror.png");
}

.portfolio-thumb.mysqlimport{
	background-image: url("../images/mysql-import.png");
}

.portfolio-thumb.canvaslayers{
	background-image: url("../images/canvas-layers.png");
}

.portfolio-thumb.calendarjs{
	background-image: url("../images/calendarjs.png");
}

.portfolio-thumb.ezdnd{
	background-image: url("../images/ez-dnd.png");
}

.portfolio-thumb.virussim{
	background-image: url("../images/virussim.png");
}

.portfolio-thumb.golife{
	background-image: url("../images/go-life.png");
}

.portfolio-thumb.goldblum{
	background-image: url("../images/goldblum.webp");
}

.portfolio-thumb.guitar{
	background-image: url("../images/guitar.png");
}